@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Mouse+Memoirs&display=swap'); 

:root{
    --backgroundcolor:white;
    --primarycolordark:#5A4683;
    --primarycolortone:#D7CDE9;
}
body{
    display:flex; 

}


.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:pink;

}

.loginpageinput input{
    background-color: var(--primarycolortone);
    text-align: center;
    margin:10px 0px 10px 0px;
}

@media  (max-width: 688px){
    body{
        
    }

   }