
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="TitleText">
            <div class="Titletext1">Welcome</div>
            <div class="Titletext1">to </div>
            <div class="Titletext1">Unemployed Elves!</div>
        </div>
        <div class="loginpageinput">
        </div>
        <form method = "POST" action = "/">
            <input type="text" name="nric">
            <input type="password" name="pass">
            <input type="submit" value="Submit">
        </form>

        <div class="register">
            <a href="/register"><div class="registertext">Register</div></a>
            <div class="underline"></div>
            </div>
    </div>
</body>
</html>