<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container">
<div class="Title Text">Hi New User , Enter your details to register your new account</div>
<form method = "POST" action="/register" >
    <input type="text" id="input" placeholder="Name" name="name">
    <input type="text" id="NRICinput" placeholder="NRIC" name="nric">
    <input type="text" id="Password" placeholder="PassWord" name="pass">
    <input type="text" id="DOB" placeholder="D.O.B" name="dob">
    <input type="email" id="Email" placeholder="Email" name="mail">
    <input type="submit" value="Submit">
</form>



</body>
</html>